:root {
  --van-tabbar-item-text-color: var(--van-gray-6);
  --van-primary-color: var(--van-black);
  --van-background-color: var(--van-gray-2);

  /* moment title */
  --moment-title-font-siez: 16px;
  --moment-title-color: #646566;
  --moment-title-active-color: #000;
  --moment-line-color: #000;
}
