:root {
  --van-tabbar-item-text-color: var(--van-gray-6);
  --van-primary-color: var(--van-black);
  --van-background-color: var(--van-gray-2);

  /* moment title */
  --moment-title-color: #646566;
  --moment-title-font-size: 16px;
  --moment-title-font-weight: 500;
  --moment-title-active-color: #000;
  --moment-title-active-font-size: 20px;
  --moment-title-active-font-weight: 700;
}
