body {
  font-size: 15px;
  color: var(--color);
  background-color: var(--background-color);
}

.is-agree {
  color: var(--agree-color);
}

:root {
  --color: #000;
  --dark-color1: #f5f5f5;
  --dark-color2: #969799;
  --dark-color3: #646566;
  --background-color: #f2f3f5;
  --white-background-color: #fff;

  /* tabbar未选中文字颜色 */
  --van-tabbar-item-text-color: var(--dark-color2);
  /* 主题色 */
  --van-primary-color: var(--color);
  /* 背景色 */
  /* --van-background-color: #f2f3f5; */

  /* moment title */
  --moment-title-font-siez: 16px;
  --moment-title-color: var(--dark-color2);
  --moment-title-active-color: var(--color);
  --moment-line-color: var(--color);

  --menu-option-background-color: #fff;

  --agree-color: #fb7299;

  --chat-message: #95ec69;
}
